*{
    margin:0px;
    padding: 0px;
    border:none;
    box-sizing: border-box;
    font-size: large;
    
}

.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: -216px;
    transition: all 0.2s;
}

.calc_exibir{
    left: 216px !important;
    transition: all 0.2s;
}

.calc_principal{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: #eee;
    border: 3px solid #bbb;
    width: 216px;
    border-radius: 5px;
}


/*Título*/
.div_nome{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #eee;
    border: 3px solid #eee;
    width: 210px;
}


.div_teclas{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 210px;
    flex-wrap: wrap;
    
}

.tecla{
    display: flex;
    justify-content: center;
    align-items:center; 
    background-color: #aaa;
    border: 3px solid #888;
    border-radius: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 1px;
}

.teclaOp{
    background-color: #fc7373 !important;
    border: 1px solid #fa0303 !important;
}

/*Display*/
.div_display{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 210px;
}

.display{
    width: 210px;
    background-color: #8a8;
    text-align: right;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.aba_calc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}