*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
}

.objetos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    padding: 10px;
    margin:10px;
    border:3px solid #888;
    background-color: #eee;
}

.computador{
    display: flex;
    justify-content: center;
    align-items: center; 
    border:1px solid black;
    background-color: #eee;
    padding: 5px;
    margin: 1px;
}